<div class="tstyle container-fluid">
  <h2>Влез в профила си</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field_str">
      <%= f.label "E-mail" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="field_str">
      <%= f.label "Парола" %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="field_str">
        <%= f.check_box :remember_me %>
        <%= f.label "Запомни ме" %>
      </div>
    <% end -%>
    <div class="actions marpad hand">
      <%= f.submit "Влез", class: "btn btn-success hand" %>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
  <div class="marpad">
    <%= link_to 'Назад' , welcome_index_path, class: "btn btn-back" %>
  </div>
</div>