<%= form_with model: @article, local: true do |form| %>
 
  <center><% if @article.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger" role="alert">
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      
        <% @article.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    </div>
  <% end %></center>
 
  <center><p>
    <%= form.label :Заглавие %><br>
    <%= form.text_field :title %>
  </p></center>
 
  <center><p>
    <%= form.label :Текст %><br>
    <%= form.text_area :text %>
  </p></center>
 
  <center><p>
    <%= form.submit "Създай статия" %>
  </p></center>
 
<% end %>