<br><br><br>
<div class="tstyle container-fluid">
  <h1>Вижте ми статиите :)</h1>
</div>
<br><br>
<center><table class="table">
    <thead class="thead-dark">
      <% if @admin %>
        <th><center>Заглавие</center></th>
        <th colspan="6"><center>Дейност</center></th>
      <% else %>
        <th><center>Заглавие</center></th>
      <% end %>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td>
            <div style="text-align:center" class="container-fluid">
             <em><%= link_to article.title, article_path(article), class: "btn btn-info" %></em>
            </div>
          </td>
          <%- if @admin %>
            <td></td>
            <td><%= link_to 'Промени', edit_article_path(article), class: "btn btn-warning" %></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= link_to 'Премахни', article_path(article), class: "btn btn-danger",
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
          <% end -%>
        </tr>
      <% end %>
    </tbody>
</table></center>
<br><br><br>
<%- if @admin %>
  <center><%= link_to 'Нова статия', new_article_path, class:  "btn btn-info" %></center>
<% end -%>
<br>
<center><%= link_to 'Назад', {controller: 'welcome',action: 'index'}, class: "btn btn-back btn-sm" %></center>