
<center><h1>Вижте ми статиите :)</h1></center>
<%- if @admin %>
  <center><%= link_to 'Нова статия', new_article_path %></center>
<% end -%>

<center><table>
    <th>Заглавие<hr></th>
    <!--<th>Text</th>-->
    <th colspan="3"></th>
  </tr>
  
  <% @articles.each do |article| %>
    <tr>
      <td><center><%= link_to article.title, article_path(article) %></center></td>
      <%- if @admin %>
        <td></td>
        <td><%= link_to 'Промени', edit_article_path(article) %></td>
        <td>|</td>
        <td><%= link_to 'Премахни', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% end -%>
    </tr>
  <% end %>
</table></center>
<br><br><br>
<center><%= link_to 'Back' , controller: 'welcome' %></center>