<div class="tstyle container-fluid">
	<h1><%= @article.title %></h1>
</div>
 
<div class="tstyle container-fluid">
  <%= simple_format(@article.text) %>
</div>


<div class="container-fluid list_emojis_container tstyle">
  <div class="row">
    <% @emojis.each do |emoji| %>
      <div class="col col-sm-3 picsize">
          <% if @signed %>
            <%= link_to  image_tag(emoji.url), reacting_path(
                {:article_id => @article.id, :user_id => current_user[:id], :emoji_id => emoji.id}), 
                {'data-toggle' => 'tooltip', :title => emoji.name, :class => 'js-link-tooltip'} %>
          <% else %>
            <%= image_tag(emoji.url) %>
          <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% @emojis.each do |emoji| %>
      <div class="col col-sm-3">
        <%= Like.where(emoji_id: emoji.id, article_id: @article.id).count %>
      </div>
    <% end %>
  </div>
</div>



<div class="commentf">
  <div class="tstyle">
    <h1>Коментари</h1>
  </div>
  <hr>
  <% @article.comments.each do |comment| %>
    <p>
      <font size = 5><strong><%= comment.commenter %> каза:</strong></font> 
    
      <%= simple_format(comment.body) %>
    </p>
    <%- if @admin or (@signed and comment.commenter==current_user[:username] ) %>
      <p>
    	  <%= link_to 'Изтрий коментара', [comment.article, comment], class: "btn btn-danger",
    	               method: :delete,
    	               data: { confirm: 'Сигурен ли си?' } %>
     </p>
    <% end -%>
    <hr>
  <% end %>
  <%- if @signed %>
    <div class="tstyle">
      <h3>Добави коментар:</h2>
    </div>
    <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
      <%= form.hidden_field :commenter,value: current_user[:username] %>
      <p class="marpad">
        <%= form.text_area :body %>
      </p>
      <p>
        <%= form.submit 'Коментирай', class: "btn btn-info" %>
      </p>
    <% end %>
  <% else %>
    <h6 class="tstyle">
      Ако искате да оставите коментар, моля влезте в <%= link_to 'профила си', new_user_session_path %>
      или <%= link_to 'създайте нов', new_user_registration_path %>!
    </h6>
    <br>  
  <% end -%>
   
  <%- if @admin %>
      <%= link_to 'Промени статията', edit_article_path(@article), class: "btn btn-warning" %>
  <% end -%>
<div>
<br><br>
<center><%= link_to 'Назад', articles_path, class: "btn btn-back btn-sm" %></center>

<script>
  $(document).ready(function() {
     $('.js-link-tooltip').tooltip();
   });
</script>