  <!--<strong><center>Title:</center></strong><br>-->
  <font size = 18>
  	<center><%= @article.title %></center>
  </font>
</p>
 
<p>
  <!--<strong>Text:</strong>-->
  <font size = 5>
  	<center><%= simple_format(@article.text) %></center>
  </font>
</p>
<div class="commentf">
  <h2>Коментари</h2>
  <hr>
  <% @article.comments.each do |comment| %>
    <p>
      <font size = 5><strong><%= comment.commenter %> каза:</strong></font> 
    
      <%= simple_format(comment.body) %>
    </p>
    <%- if @admin or (@signed and comment.commenter==current_user[:username] ) %>
      <p>
    	  <%= link_to 'Изтрий коментара', [comment.article, comment], class: "btn btn-danger",
    	               method: :delete,
    	               data: { confirm: 'Сигурен ли си?' } %>
     </p>
    <% end -%>
    <hr>
  <% end %>
  <%- if @signed %>
    <h2>Добави коментар:</h2>
    <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
      <%= form.hidden_field :commenter,value: current_user[:username] %>
      <p>
        <%= form.label :Коментар %><br>
        <%= form.text_area :body %>
      </p>
      <p>
        <%= form.submit 'Коментирай', class: "btn btn-info" %>
      </p>
    <% end %>
  <% else %>
    <h6>
      Ако искате да оставите коментар, моля влезте в <%= link_to 'профила си', new_user_session_path %>
      или <%= link_to 'създайте нов', new_user_registration_path %>!
    </h6>
    <br>  
  <% end -%>
   
  <%- if @admin %>
      <%= link_to 'Промени статията', edit_article_path(@article), class: "btn btn-warning" %>
  <% end -%>
<div>
<br><br>
<center><%= link_to 'Назад', articles_path, :class => "btn btn-back btn-sm" %></center>
