<%- if user_signed_in? %>
	<div style="color:#B21C1C ;font-size: 130%; display: flex; justify-content: flex-end">
		<%- if current_user[:is_admin]==true %>
			Welcome, Admin!
		<% else %>
			Welcome, <%= current_user[:first_name] %> <%= current_user[:last_name] %>!
		<% end -%>
	</div>
	<div style="display: flex; justify-content: flex-end"><%= link_to 'Sign Out', destroy_user_session_path %></div>
<%- else %>
	<div style="display: flex; justify-content: flex-end">
		<table>
			<tr>
				<td><%= link_to 'Sign in', new_user_session_path %></td>
				<td>|</td> 
				<td><%= link_to 'Sign up', new_user_registration_path %></td>
			</tr>
		</table>
	</div>
<% end -%>
<center><h1 style="color:#B21C1C">Добре дошли в блога на Наско!</h1></center>
<hr>
<center><%= link_to 'Вижте блога тук!', controller: 'articles' %></center>
<br><br><br>