<% if user_signed_in? %>
	<div class="greeting textprompt">
		<%- if current_user[:is_admin]==true %>
			Здравей, Админ!
		<% else %>
			Здравейте, <%= current_user[:first_name] %> <%= current_user[:last_name] %>!
		<% end -%>
	</div>
	<div class="greeting"><%= link_to 'Излез от профила си', destroy_user_session_path, class: "btn btn-info" %></div>
<% else %>
	<div>
		<table class="table greeting">
			<tr>
				<td><%= link_to 'Влез в профила си', new_user_session_path, class: "btn btn-info" %></td>
				
				<td><%= link_to 'Регистрирай се', new_user_registration_path, class: "btn btn-info" %></td>
			</tr>
		</table>
	</div>
<% end %>
<center><h1 style="color:#B21C1C">Добре дошли в блога на Наско!</h1></center>
<hr>
<center><%= link_to 'Вижте блога тук!', {controller: 'articles', action: 'index' }, class: "btn btn-info" %></center>
<br><br><br>
<% if user_signed_in? and current_user[:is_admin]==true %>
	<center><%= link_to 'Създаване на еможита', {controller: 'emojis', action: 'index' }, class: "btn btn-info" %></center>
<% end %>