<br><div class="tstyle container-fluid">
 <h1>Всички емоджита: </h1>
</div>
<br>
<table class="table">
    <thead class="thead-dark">
      <th><center>Име</center></th>
      <th><center>Emoji</center></th>
      <th><center>Премахни</center></th>
    </thead>
    <tbody>
      <% @emojis.each do |emoji| %>
        <tr>
          <td>
            <div class="tstyle container-fluid">
             <%= emoji.name %>
            </div>
          </td>
          <td class="picsize">
          	<%= image_tag(emoji.url) %>
          </td>
          <td style="text-align:center">
          	<%= link_to 'Премахни', emoji_path(emoji), class: "btn btn-danger",
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>          
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
<center>
	<%= link_to 'Добави ново emoji', new_emoji_path , class: "btn btn-info" %>
	<br><br><br>
	<%= link_to 'Назад', {controller: 'welcome',action: 'index'}, class: "btn btn-back btn-sm" %>
</center>